In [19]:
!wget https://data.melbourne.vic.gov.au/api/v2/catalog/datasets/development-activity-monitor/exports/csv?delimiter=%2C -O dam.csv

--2024-02-18 05:49:09--  https://data.melbourne.vic.gov.au/api/v2/catalog/datasets/development-activity-monitor/exports/csv?delimiter=%2C
Resolving data.melbourne.vic.gov.au (data.melbourne.vic.gov.au)... 13.55.171.246, 13.211.119.48
Connecting to data.melbourne.vic.gov.au (data.melbourne.vic.gov.au)|13.55.171.246|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘dam.csv’

dam.csv                 [ <=>                ] 317.58K  1.73MB/s    in 0.2s

2024-02-18 05:49:10 (1.73 MB/s) - ‘dam.csv’ saved [325198]

In [11]:
!wget https://data.melbourne.vic.gov.au/api/v2/catalog/datasets/building-permits/exports/csv?delimiter=%2C -O 'permit.csv'

--2024-02-18 05:27:26--  https://data.melbourne.vic.gov.au/api/v2/catalog/datasets/building-permits/exports/csv?delimiter=%2C
Resolving data.melbourne.vic.gov.au (data.melbourne.vic.gov.au)... 13.55.171.246, 13.211.119.48
Connecting to data.melbourne.vic.gov.au (data.melbourne.vic.gov.au)|13.55.171.246|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘permit.csv’

permit.csv              [               <=>  ]  29.94M  1.70MB/s    in 19s

2024-02-18 05:27:46 (1.58 MB/s) - ‘permit.csv’ saved [31393417]

In [10]:
!wget https://data.melbourne.vic.gov.au/api/v2/catalog/datasets/buildings-with-name-age-size-accessibility-and-bicycle-facilities/exports/csv?delimiter=%2C -O 'info.csv'

--2024-02-18 05:26:48--  https://data.melbourne.vic.gov.au/api/v2/catalog/datasets/buildings-with-name-age-size-accessibility-and-bicycle-facilities/exports/csv?delimiter=%2C
Resolving data.melbourne.vic.gov.au (data.melbourne.vic.gov.au)... 13.55.171.246, 13.211.119.48
Connecting to data.melbourne.vic.gov.au (data.melbourne.vic.gov.au)|13.55.171.246|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘info.csv’

info.csv                [      <=>           ]  69.85M  1.89MB/s    in 38s

2024-02-18 05:27:25 (1.85 MB/s) - ‘info.csv’ saved [73243247]

In [2]:
import pandas as pd

In [20]:
df_info=pd.read_csv('./info.csv')
df_permit = pd.read_csv('./permit.csv')
df_dam = pd.read_csv('./dam.csv')

In [17]:
df_info.count()
# df_permit

census_year                       277368
block_id                          277368
property_id                       277368
base_property_id                  277368
building_name                      53775
street_address                    277368
clue_small_area                   277368
construction_year                 142394
refurbished_year                   34711
number_of_floors_above_ground     277283
predominant_space_use             277368
accessibility_type                243024
accessibility_type_description    243024
accessibility_rating              243024
bicycle_spaces                     66557
has_showers                            0
longitude                         273542
latitude                          273542
location                          273542
dtype: int64

In [18]:
df_permit.count()

council_ref                159601
permit_number              159601
issue_date                 159566
address                    159601
desc_of_works              159589
estimated_cost_of_works    159601
rbs_number                  85245
commence_by_date            81105
completed_by_date           83022
permit_certificate_type    159601
dtype: int64

In [21]:
df_dam

,data_format,development_key,status,year_completed,clue_small_area,clue_block,street_address,property_id,property_id_2,property_id_3,...,hospital_flr,recreation_flr,publicdispaly_flr,community_flr,car_spaces,bike_spaces,town_planning_application,longitude,latitude,geopoint
0,Pre May 16,X000384,COMPLETED,2005.0,Carlton,255,522-536 Swanston Street CARLTON VIC 3053,594107,NaN,NaN,...,0,0,0,0,0,0,0,144.963640,-37.804307,"-37.80430718, 144.9636398"
1,Pre May 16,X000669,COMPLETED,2006.0,Kensington,520,84-102 Altona Street KENSINGTON VIC 3031,597180,NaN,NaN,...,0,0,0,0,0,0,0,144.925669,-37.796628,"-37.79662813, 144.9256686"
2,Pre May 16,X001059,COMPLETED,2006.0,Docklands,1107,Kangan TAFE 2-48 Harbour Esplanade DOCKLANDS V...,602858,NaN,NaN,...,0,0,0,0,0,0,0,144.948611,-37.822022,"-37.82202187, 144.9486115"
3,Pre May 16,X001060,COMPLETED,2011.0,Docklands,1107,Kangan TAFE 2-48 Harbour Esplanade DOCKLANDS V...,602858,NaN,NaN,...,0,0,0,0,0,0,0,144.948611,-37.822022,"-37.82202187, 144.9486115"
4,Pre May 16,X000042,COMPLETED,2005.0,Melbourne (CBD),21,607-623 Collins Street MELBOURNE VIC 3000,606461,NaN,NaN,...,0,0,0,0,0,0,0,144.954690,-37.819293,"-37.8192929, 144.9546898"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417,Pre May 16,X000527,COMPLETED,2004.0,North Melbourne,370,25 Arden Street NORTH MELBOURNE VIC 3051,592683,NaN,NaN,...,0,0,0,0,0,0,0,144.951064,-37.801309,"-37.80130917, 144.9510637"
1418,Pre May 16,X001118,COMPLETED,2006.0,Docklands,1109,Newquay Central 425-441 Docklands Drive DOCKLA...,593728,NaN,NaN,...,0,0,0,0,0,0,0,144.939207,-37.815039,"-37.81503861, 144.9392069"
1419,Pre May 16,X001140,COMPLETED,2008.0,Docklands,1110,Harbour Town 420-454 Docklands Drive DOCKLANDS...,593737,NaN,NaN,...,0,0,0,0,0,0,0,144.937759,-37.813173,"-37.81317308, 144.9377585"
1420,Pre May 16,X000884,COMPLETED,2013.0,Port Melbourne,790,54-62 Wirraway Drive PORT MELBOURNE VIC 3207,593753,NaN,NaN,...,0,0,0,0,0,0,0,144.908423,-37.825195,"-37.82519497, 144.908423"
1421,Pre May 16,X000878,COMPLETED,2007.0,Port Melbourne,790,322-326 Lorimer Street PORT MELBOURNE VIC 3207,593756,NaN,NaN,...,0,0,0,0,0,0,0,144.908551,-37.824132,"-37.82413224, 144.9085514"

In [22]:
!wget https://data.melbourne.vic.gov.au/api/v2/catalog/datasets/pedestrian-counting-system-past-hour-counts-per-minute/exports/csv?delimiter=%2C -O 'foot_traffic.csv'

--2024-02-18 06:05:06--  https://data.melbourne.vic.gov.au/api/v2/catalog/datasets/pedestrian-counting-system-past-hour-counts-per-minute/exports/csv?delimiter=%2C
Resolving data.melbourne.vic.gov.au (data.melbourne.vic.gov.au)... 13.211.119.48, 13.55.171.246
Connecting to data.melbourne.vic.gov.au (data.melbourne.vic.gov.au)|13.211.119.48|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘foot_traffic.csv’

foot_traffic.csv        [                <=> ]  35.05M   293KB/s    in 2m 22s

2024-02-18 06:07:28 (253 KB/s) - ‘foot_traffic.csv’ saved [36752716]

In [28]:
!wget 'https://melbournetestbed.opendatasoft.com/api/explore/v2.1/catalog/datasets/pedestrian-counting-system-monthly-counts-per-hour/exports/csv?lang=en&timezone=Australia%2FSydney&use_labels=true&delimiter=%2C' -O 'all_foot_traffic.csv'

--2024-02-18 06:16:05--  https://melbournetestbed.opendatasoft.com/api/explore/v2.1/catalog/datasets/pedestrian-counting-system-monthly-counts-per-hour/exports/csv?lang=en&timezone=Australia%2FSydney&use_labels=true&delimiter=%2C
Resolving melbournetestbed.opendatasoft.com (melbournetestbed.opendatasoft.com)... 13.55.171.246, 13.211.119.48
Connecting to melbournetestbed.opendatasoft.com (melbournetestbed.opendatasoft.com)|13.55.171.246|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘all_foot_traffic.csv’

all_foot_traffic.cs     [     <=>            ]  35.21M   299KB/s    in 2m 0s

2024-02-18 06:18:06 (301 KB/s) - ‘all_foot_traffic.csv’ saved [36920423]

In [29]:
df_foot_all = pd.read_csv('./all_foot_traffic.csv')
df_foot_all

,Sensor_Name,SensingDateTime(Hour),LocationID,Direction_1,Direction_2,Total_of_Directions,Location
0,SprFli_T,2023-04-25T07:00:00+10:00,75,36,17,53,"-37.81515276, 144.97467661"
1,SprFli_T,2023-04-25T10:00:00+10:00,75,28,50,78,"-37.81515276, 144.97467661"
2,SprFli_T,2023-04-25T11:00:00+10:00,75,63,63,126,"-37.81515276, 144.97467661"
3,SprFli_T,2023-04-25T12:00:00+10:00,75,85,89,174,"-37.81515276, 144.97467661"
4,SprFli_T,2023-04-25T18:00:00+10:00,75,365,59,424,"-37.81515276, 144.97467661"
...,...,...,...,...,...,...,...
474778,474Fl_T,2024-01-27T18:00:00+11:00,141,194,144,338,"-37.81997273, 144.95834911"
474779,Hammer1584_T,2024-01-27T04:00:00+11:00,142,2,2,4,"-37.81970749, 144.96795734"
474780,Hammer1584_T,2024-01-27T05:00:00+11:00,142,8,6,14,"-37.81970749, 144.96795734"
474781,Hammer1584_T,2024-01-27T09:00:00+11:00,142,268,281,549,"-37.81970749, 144.96795734"
474782,Hammer1584_T,2024-01-27T15:00:00+11:00,142,848,907,1755,"-37.81970749, 144.96795734"

In [23]:
df_foot = pd.read_csv('./foot_traffic.csv')
df_foot

,location_id,sensing_datetime,sensing_date,sensing_time,direction_1,direction_2,total_of_directions
0,3,2024-02-11T15:25:00+00:00,2024-02-12,02:25,5,0,5
1,3,2024-02-11T15:26:00+00:00,2024-02-12,02:26,0,3,3
2,3,2024-02-11T15:28:00+00:00,2024-02-12,02:28,0,2,2
3,3,2024-02-11T15:30:00+00:00,2024-02-12,02:30,1,0,1
4,3,2024-02-11T15:36:00+00:00,2024-02-12,02:36,2,1,3
...,...,...,...,...,...,...,...
683685,139,2024-02-18T05:35:00+00:00,2024-02-18,16:35,7,9,16
683686,141,2024-02-18T04:45:00+00:00,2024-02-18,15:45,10,13,23
683687,141,2024-02-18T05:30:00+00:00,2024-02-18,16:30,18,12,30
683688,141,2024-02-18T05:35:00+00:00,2024-02-18,16:35,12,15,27
683689,142,2024-02-18T05:25:00+00:00,2024-02-18,16:25,77,63,140

In [8]:
import zipfile
with zipfile.ZipFile('2021_GCP_all_for_AUS_short-header.zip', 'r') as zip_ref:
    zip_ref.extractall('./unzip')

In [24]:
# df = pd.read_csv('./unzip/2021 Census GCP All Geographies for AUS/*/*')

import pandas as pd
import glob

# Specify the directory and file pattern
directory_path = './unzip/2021 Census GCP All Geographies for AUS/*/'
file_pattern = '*.csv'

# Use glob to get a list of file paths matching the pattern
file_paths = glob.glob(directory_path + file_pattern)

# Initialize an empty DataFrame to concatenate the data
df = pd.DataFrame()

# Loop through the list of file paths and read each CSV file
for file_path in file_paths:
    # Read the CSV file and concatenate it to the DataFrame
    df_temp = pd.read_csv(file_path)
    df = pd.concat([df, df_temp], ignore_index=True)

# Now, 'df' contains the concatenated data from all CSV files in the specified directory

In [33]:
# Assuming 'M_15_19_CF_Own_CCO' is the column name
column_name = 'M_15_19_CF_Own_CCO'

# Filter rows where the specified column is not NaN
df_filtered = df[df[column_name].notna()]

# Now, df_filtered contains only the rows where 'M_15_19_CF_Own_CCO' is not NaN

In [34]:
df_filtered

,AUS_CODE_2021,M_15_19_CF_Own_CCO,M_15_19_CF_Oth_CCO,M_15_19_CF_Own_CC_Oth_CC,M_15_19_CF_Total,M_15_19_DNPCC,M_15_19_UCC_NS,M_15_19_Total,M_20_24_CF_Own_CCO,M_20_24_CF_Oth_CCO,...,Tot_1991_2000,Tot_2001_2010,Tot_2011_2015,Tot_2016,Tot_2017,Tot_2018,Tot_2019,Tot_2020,Tot_2021,Tot_Yr_arrival_NS
0,AUS,2476.0,27754.0,257.0,30486.0,671544.0,47294.0,749330.0,19675.0,20630.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN